<!DOCTYPE html>
<html>
    <!-- Cabecera de la página -->
    <head>
        <title>Hoja de Vida</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Aqui va CSS, JavaScript -->
        <link rel="stylesheet" href="estilos.css"/>
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

    </head>
    <!-- Cuerpo de la página -->
    <body>
        <div class="container">
            <center><h2>Robinson Manuel Yañez Romero</h2></center>
            <center><h3 class="subtitulo">Hoja de Vida</h3></center>
            <hr>
            <center>
                <img class="img-fluid img-thumbnail" src="mifoto.jpg" alt="Imagen no encontrada">
            </center>

            <div class="accordion" id="accordionExample">
               
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Información personal
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Soy <u><i>Robinson Manuel Yañez Romero</i></u>, docente, ingeniero de sistemas. <span class="verde">Vivo en Callao</span> y desarrollo aplicaciones y realizo proyectos de investigación relacionados con eldesarrollo de software.
                        </div>
                    </div>
                </div>
                
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Formación académica
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <ol>
                                <li>Universidad Privada César Vallejo: Ingeniería de Sistemas.</li>
                                <li>Universidad Privada César Vallejo: Maestría en Ingeniería de Sistemas.</li>
                                <li>Cámara Nacional de Comercio del Perú: Diplomado en Metodología de laInvestigación.</li>
                                <li>Universidad Nacional Daniel Alcides Carrión: Diplomado en Administración y Gestión Pública.</li>
                            </ol>
                        </div>
                    </div>
                </div>
                
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Actividades y aficiones
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <ul>
                                <li><a th:href="@{/app}" target="_blank">Desarrollo de aplicaciones.</a></li>
                                <li><a th:href="@{/movie}" target="_blank">Ver películas.</a></li>
                                <li><a th:href="@{/music}" target="_blank">Artistas Favoritos.</a></li>
                            </ul>
                        </div>
                    </div>
                </div>


            </div> 
        </div>   
    </body>
</html>
